In [1]:
from rdflib import Graph, Namespace, RDF, URIRef
from sklearn.externals import joblib
import numpy as np
import pandas as pd
ns_qb = Namespace('http://purl.org/linked-data/cube#')
ns_hs = Namespace('http://ldf.fi/schema/halias/')
ns_bio = Namespace('http://www.yso.fi/onto/bio/')
ns_tr = Namespace('http://www.yso.fi/onto/taxonomic-ranks/')

In [2]:
df=pd.read_csv('traningdata.csv')
bird_cube=pd.read_csv('bird_cube_processed.csv')

In [56]:
df[df['time']==20080705]

,time,humidity,standardCloudCover,cloudCover,rainfall,temperatureDay,standardTemperature,season,monthOfYear,weekOfYear,airPressure,haliasObservationDay,windDaySpeed_min,windDaySpeed_max,windDaySpeed_mean,standardWindSpeed_mean,sunsetMM,sunsetHH,sunriseMM,sunriseHH
10776,20080705,75.0,NaN,NaN,NaN,18.0,16.0,3,7.0,27.0,1008.0,1,3.0,6.0,4.666667,6.0,47,19,18,1

In [3]:
bird=pd.read_csv('bird_ontology_processed.csv')

In [4]:
df.head()

,time,humidity,standardCloudCover,cloudCover,rainfall,temperatureDay,standardTemperature,season,monthOfYear,weekOfYear,airPressure,haliasObservationDay,windDaySpeed_min,windDaySpeed_max,windDaySpeed_mean,standardWindSpeed_mean,sunsetMM,sunsetHH,sunriseMM,sunriseHH
0,19790101,85.0,1.0,3.0,0.0,-16.0,-16.0,4,1.0,1.0,1012.0,0,5.0,7.0,6.0,4.0,35,13,29,7
1,19790102,74.0,7.0,6.0,2.0,-17.0,-17.0,4,1.0,1.0,1013.0,0,6.0,6.0,6.0,8.0,36,13,29,7
2,19790103,80.0,8.0,8.0,5.0,-13.0,-13.0,4,1.0,1.0,1011.0,0,12.0,13.0,12.5,9.0,38,13,28,7
3,19790104,78.0,7.0,8.0,1.0,-12.0,-12.0,4,1.0,1.0,1014.0,0,12.0,14.0,13.0,10.0,40,13,28,7
4,19790105,71.0,6.0,5.0,0.0,-12.0,-13.0,4,1.0,1.0,1017.0,0,11.0,15.0,13.0,10.0,41,13,27,7

In [5]:
time=list(df['time'])

In [60]:
max(time)

20081231

In [6]:
#only consider there's observation
df=df[df['haliasObservationDay']==1]
#7417days

In [7]:
time=df['time']

In [24]:
subjects=bird_cube['subjects']
bird_cube_time=[int(i[1:9]) for i in subjects]

In [25]:
bird_cube['time']=bird_cube_time

In [ ]:
bird_cube[

In [26]:
bird_cube.head()

,subjects,monthOfYear,countStandardizedMigration,season,countLocal,observedSpecies,weekOfYear,countTotal,countAdditionalArea,countMigration,time
0,H19790228parmaj,2,0,3,2,FMNH_378717,9,2,0,0,19790228
1,H19790306cornix,3,0,1,8,FMNH_378539,10,8,0,0,19790306
2,H19790306corrax,3,0,1,4,FMNH_378549,10,4,0,0,19790306
3,H19790306lararg,3,0,1,33,FMNH_372876,10,33,0,0,19790306
4,H19790306larcan,3,0,1,1,FMNH_372863,10,1,0,0,19790306

In [ ]:
bir

In [27]:
Specieslist=list(set(bird_cube['observedSpecies']))
#378
#170common,208rare
rarity=bird[bird.predicate=='rarity']
commomSpi=rarity[rarity['objects']=='common']

In [28]:
comspices=list(commomSpi['subjects'])

In [88]:
comspices

['FMNH_374522',
 'FMNH_381659',
 'FMNH_381583',
 'FMNH_378493',
 'FMNH_371971',
 'FMNH_381612',
 'FMNH_375654',
 'FMNH_372974',
 'FMNH_371278',
 'FMNH_374273',
 'FMNH_371388',
 'FMNH_379472',
 'FMNH_371226',
 'FMNH_381683',
 'FMNH_378796',
 'FMNH_379460',
 'FMNH_378726',
 'FMNH_379525',
 'FMNH_373040',
 'FMNH_372822',
 'FMNH_378751',
 'FMNH_372755',
 'FMNH_378464',
 'FMNH_380855',
 'FMNH_371317',
 'FMNH_372027',
 'FMNH_372634',
 'FMNH_372640',
 'FMNH_380896',
 'FMNH_372867',
 'FMNH_380647',
 'FMNH_371236',
 'FMNH_372631',
 'FMNH_372526',
 'FMNH_372637',
 'FMNH_381579',
 'FMNH_372758',
 'FMNH_372208',
 'FMNH_372914',
 'FMNH_379612',
 'FMNH_371948',
 'FMNH_380770',
 'FMNH_372734',
 'FMNH_373893',
 'FMNH_373048',
 'FMNH_380886',
 'FMNH_372803',
 'FMNH_382136',
 'FMNH_379611',
 'FMNH_372604',
 'FMNH_371347',
 'FMNH_372983',
 'FMNH_375574',
 'FMNH_381745',
 'FMNH_380553',
 'FMNH_372750',
 'FMNH_379613',
 'FMNH_375473',
 'FMNH_372882',
 'FMNH_382143',
 'FMNH_380566',
 'FMNH_381747',
 'FMNH_380651',
 'FMNH_380567',
 'FMNH_381610',
 'FMNH_380163',
 'FMNH_378883',
 'FMNH_378717',
 'FMNH_380092',
 'FMNH_379610',
 'FMNH_372810',
 'FMNH_378507',
 'FMNH_378686',
 'FMNH_381182',
 'FMNH_379518',
 'FMNH_372764',
 'FMNH_371447',
 'FMNH_381664',
 'FMNH_372137',
 'FMNH_374270',
 'FMNH_372863',
 'FMNH_371852',
 'FMNH_381686',
 'FMNH_371381',
 'FMNH_371930',
 'FMNH_371404',
 'FMNH_380752',
 'FMNH_378995',
 'FMNH_372773',
 'FMNH_378838',
 'FMNH_371366',
 'FMNH_371397',
 'FMNH_378514',
 'FMNH_372078',
 'FMNH_372797',
 'FMNH_372765',
 'FMNH_381195',
 'FMNH_371335',
 'FMNH_379517',
 'FMNH_371314',
 'FMNH_371239',
 'FMNH_380238',
 'FMNH_382107',
 'FMNH_378858',
 'FMNH_370987',
 'FMNH_382098',
 'FMNH_372900',
 'FMNH_378539',
 'FMNH_371389',
 'FMNH_380570',
 'FMNH_375588',
 'FMNH_372928',
 'FMNH_371613',
 'FMNH_372813',
 'FMNH_381541',
 'FMNH_374233',
 'FMNH_371403',
 'FMNH_372771',
 'FMNH_371249',
 'FMNH_381757',
 'FMNH_371614',
 'FMNH_371373',
 'FMNH_372890',
 'FMNH_371228',
 'FMNH_380568',
 'FMNH_378121',
 'FMNH_371448',
 'FMNH_378528',
 'FMNH_372145',
 'FMNH_371351',
 'FMNH_373045',
 'FMNH_378739',
 'FMNH_380722',
 'FMNH_378733',
 'FMNH_380665',
 'FMNH_371374',
 'FMNH_372214',
 'FMNH_371394',
 'FMNH_372580',
 'FMNH_378110',
 'FMNH_371951',
 'FMNH_371321',
 'FMNH_372987',
 'FMNH_372767',
 'FMNH_381578',
 'FMNH_372802',
 'FMNH_381531',
 'FMNH_372876',
 'FMNH_381547',
 'FMNH_378549',
 'FMNH_379620',
 'FMNH_381689',
 'FMNH_371246',
 'FMNH_372791',
 'FMNH_378993',
 'FMNH_381716',
 'FMNH_381586',
 'FMNH_372086',
 'FMNH_371238',
 'FMNH_372926',
 'FMNH_379462',
 'FMNH_380376',
 'FMNH_381755',
 'FMNH_371391',
 'FMNH_379453',
 'FMNH_371763',
 'FMNH_372777',
 'FMNH_371986',
 'FMNH_382139',
 'FMNH_372711']

In [92]:
bird_cube[bird_cube['observedSpecies']=='FMNH_381659'].shape

(6574, 11)

In [97]:
#comspices[0]:'FMNH_374522'
#----------------start with the first commom species--------------------------#
bird_spe1=bird_cube[bird_cube['observedSpecies']=='FMNH_381659']
#6574 instances
bird_spe1=bird_spe1[['observedSpecies','countTotal','time']]
bird_spe1_time=list(bird_spe1['time'])
bird_spe1_weather=df.loc[df['time'].isin(bird_spe1_time)]

In [112]:
def returnNotMatches(a, b):
    return [[x for x in a if x not in b], [x for x in b if x not in a]]

In [113]:
b=list(bird_spe1_weather['time'])
returnNotMatches(bird_spe1_time,b)

[[20051001, 20051002], []]

In [135]:
print(bird_spe1.shape[0])
print(bird_spe1_weather.shape[0])

6572
6572

In [115]:
#remove rows whose 'time' not in bird_spe1_weather.time
bird_spe1=bird_spe1[-bird_spe1['time'].isin([20051001, 20051002])]

In [142]:
bird_spe1.head()

    observedSpecies  countTotal      time
10      FMNH_381659           3  19790313
63      FMNH_381659           9  19790329
98      FMNH_381659           6  19790404
132     FMNH_381659           5  19790407
162     FMNH_381659          14  19790408

In [139]:
bird_spe1_data=pd.merge(bird_spe1,bird_spe1_weather,on='time')

In [143]:
bird_spe1_data=bird_spe1_data.drop(['observedSpecies'],axis=1)

In [144]:
bird_spe1_data.head()

,countTotal,time,humidity,standardCloudCover,cloudCover,rainfall,temperatureDay,standardTemperature,season,monthOfYear,...,airPressure,haliasObservationDay,windDaySpeed_min,windDaySpeed_max,windDaySpeed_mean,standardWindSpeed_mean,sunsetMM,sunsetHH,sunriseMM,sunriseHH
0,3,19790313,90.0,8.0,8.0,1.0,-1.0,-1.0,2,3.0,...,1003.0,1,3.0,6.0,4.666667,6.0,25,16,53,4
1,9,19790329,87.0,5.0,5.0,0.0,1.0,-1.0,2,3.0,...,1013.0,1,6.0,8.0,7.250000,8.0,4,17,4,4
2,6,19790404,95.0,7.0,8.0,0.0,1.0,1.0,2,4.0,...,1017.0,1,0.0,4.0,2.000000,5.0,18,17,46,3
3,5,19790407,84.0,6.0,5.0,0.0,1.0,-1.0,2,4.0,...,1026.0,1,3.0,7.0,5.250000,0.0,25,17,37,3
4,14,19790408,89.0,4.0,6.0,0.0,0.0,-1.0,2,4.0,...,1027.0,1,2.0,5.0,3.500000,3.0,28,17,34,3

In [77]:
#x_train:the first 80% of whole datasert
# x_train=bird_spe1_weather.head(1888)
# y_train=bird_spe1.head(1888)['countTotal']
# x_test=bird_spe1_weather.iloc[1888:,:]
# y_test=bird_spe1.iloc[1888:,:]['countTotal']

In [131]:
# x_train=bird_spe1_weather[bird_spe1_weather['time']<20080901]#(2329, 20)
# y_train=bird_spe1[bird_spe1['time']<20080901]['countTotal']
# x_test=bird_spe1_weather[bird_spe1_weather['time']>=20080901]
# y_test=bird_spe1[bird_spe1['time']>=20080901]['countTotal']

In [145]:
x_train=bird_spe1_data[bird_spe1_data['time']<20080901].drop(['time'],1)#(2329, 20)
y_train=bird_spe1_data[bird_spe1_data['time']<20080901]['countTotal']
x_test=bird_spe1_data[bird_spe1_data['time']>=20080901].drop(['time'],1)
y_test=bird_spe1_data[bird_spe1_data['time']>=20080901]['countTotal']

In [146]:
x_train=np.nan_to_num(x_train)
x_test=np.nan_to_num(x_test)

In [151]:
x_test.shape

(116, 20)

In [149]:
x_train.shape

(6456, 20)

In [147]:
#---------linear regression------------------#
# x_train=np.nan_to_num(x_train)
# x_test=np.nan_to_num(x_test)
from sklearn.linear_model import LinearRegression
regr = LinearRegression()
regr.fit(x_train, y_train)
print(regr.predict(x_test))
regr.score(x_test,y_test)#R^2

[  3.00000000e+00   2.00000000e+00   1.00000000e+00   1.00000000e+00
   1.00000000e+00   4.00000000e+00   3.00000000e+00   1.00000000e+00
   3.00000000e+00   4.00000000e+00   5.00000000e+00   3.00000000e+00
   2.00000000e+00   1.00000000e+01   1.00000000e+00   4.00000000e+00
   6.00000000e+00   5.00000000e+00   5.00000000e+00   4.00000000e+00
   2.00000000e+00   2.20000000e+01   1.00000000e+00   3.00000000e+01
   2.60000000e+01   1.00000000e+00   1.00000000e+00   5.40000000e+01
   5.10000000e+01   1.64000000e+02   4.00000000e+00   1.34000000e+02
   2.78000000e+02   2.65000000e+02   3.10000000e+01   3.00000000e+00
   7.26000000e+02   4.02000000e+02   5.42000000e+02   3.51000000e+02
   6.00000000e+00   2.90000000e+01   4.80000000e+02   5.60000000e+02
   3.85000000e+02   1.80000000e+01   8.30000000e+01   1.22700000e+03
   5.00000000e+01   1.75200000e+03   1.35600000e+03   8.36000000e+02
   2.16000000e+02   8.00000000e+01   6.00000000e+00   4.00000000e+01
   4.66000000e+02   1.37000000e+02   8.40000000e+01   1.90000000e+01
   2.70000000e+01   2.60000000e+01   4.00000000e+00   1.00000000e+01
   2.00000000e+00   4.00000000e+00   8.00000000e+00   1.22000000e+02
   7.10000000e+01   4.00000000e+01   1.28000000e+02   6.80000000e+01
   2.00000000e+01   2.00000000e+01   4.00000000e+01   3.00000000e+01
   3.00000000e+01   2.50000000e+01   4.00000000e+01   6.00000000e+01
   5.00000000e+01   4.00000000e+01   3.00000000e+01   1.12000000e+02
   4.00000000e+01   4.00000000e+01   7.00000000e+01   4.00000000e+01
   2.00000000e+01   5.20000000e+01   3.50000000e+01   3.00000000e+01
   4.00000000e+01   4.00000000e+01   4.00000000e+01   7.80000000e+01
   5.00000000e+01   6.00000000e+01   4.00000000e+01   5.40000000e+01
   4.00000000e+01   4.00000000e+01   4.00000000e+01   4.00000000e+01
   9.00000000e+01   4.50000000e+01   7.00000000e+01   6.50000000e+01
   4.50000000e+01   4.00000000e+01   5.00000000e+01   6.00000000e+01
   6.00000000e+01   4.00000000e+01   4.00000000e+01   2.00000000e+01]

1.0

In [148]:
#---------ElasticNet：Linear regression with combined L1 and L2 priors as regularizer--------#
from sklearn.linear_model import ElasticNet
elasticNet =ElasticNet()
elasticNet.fit(x_train, y_train)
print(elasticNet.predict(x_test))
elasticNet.score(x_test,y_test)

[  3.00140144e+00   2.00142642e+00   1.00145140e+00   1.00145140e+00
   1.00145140e+00   4.00137646e+00   3.00140144e+00   1.00145140e+00
   3.00140144e+00   4.00137646e+00   5.00135148e+00   3.00140144e+00
   2.00142642e+00   1.00012266e+01   1.00145140e+00   4.00137646e+00
   6.00132651e+00   5.00135148e+00   5.00135148e+00   4.00137646e+00
   2.00142642e+00   2.20009269e+01   1.00145140e+00   3.00007270e+01
   2.60008269e+01   1.00145140e+00   1.00145140e+00   5.40001276e+01
   5.10002025e+01   1.63997380e+02   4.00137646e+00   1.33998129e+02
   2.77994532e+02   2.64994857e+02   3.10007021e+01   3.00140144e+00
   7.25983342e+02   4.01991435e+02   5.41987938e+02   3.50992709e+02
   6.00132651e+00   2.90007520e+01   4.79989487e+02   5.59987489e+02
   3.84991860e+02   1.80010268e+01   8.29994032e+01   1.22697083e+03
   5.00002275e+01   1.75195771e+03   1.35596761e+03   8.35980595e+02
   2.15996081e+02   7.99994781e+01   6.00132651e+00   4.00004773e+01
   4.65989837e+02   1.36998054e+02   8.39993782e+01   1.90010018e+01
   2.70008020e+01   2.60008269e+01   4.00137646e+00   1.00012266e+01
   2.00142642e+00   4.00137646e+00   8.00127655e+00   1.21998429e+02
   7.09997029e+01   4.00004773e+01   1.27998279e+02   6.79997779e+01
   2.00009768e+01   2.00009768e+01   4.00004773e+01   3.00007270e+01
   3.00007270e+01   2.50008519e+01   4.00004773e+01   5.99999777e+01
   5.00002275e+01   4.00004773e+01   3.00007270e+01   1.11998679e+02
   4.00004773e+01   4.00004773e+01   6.99997279e+01   4.00004773e+01
   2.00009768e+01   5.20001775e+01   3.50006021e+01   3.00007270e+01
   4.00004773e+01   4.00004773e+01   4.00004773e+01   7.79995281e+01
   5.00002275e+01   5.99999777e+01   4.00004773e+01   5.40001276e+01
   4.00004773e+01   4.00004773e+01   4.00004773e+01   4.00004773e+01
   8.99992284e+01   4.50003524e+01   6.99997279e+01   6.49998528e+01
   4.50003524e+01   4.00004773e+01   5.00002275e+01   5.99999777e+01
   5.99999777e+01   4.00004773e+01   4.00004773e+01   2.00009768e+01]

0.99999999934635908

In [86]:
import xgboost as xgb
y_mean = np.mean(y_valid)

# prepare dict of params for xgboost to run with
xgb_params = {
    'n_trees': 500, 
    'eta': 0.005,
    'max_depth': 4,
    'subsample': 0.95,
    'objective': 'reg:linear',
    'eval_metric': 'rmse',
    'base_score': y_mean, # base prediction = mean(target)
    'silent': 1
}

# form DMatrices for Xgboost training
d_train = xgb.DMatrix(x_train,y_train)
dtest = xgb.DMatrix(x_valid)
d_valid = xgb.DMatrix(x_valid,label=y_valid)
watchlist = [(d_train, 'train'),(d_valid, 'valid')]

# train model
num_boost_rounds = 1250

model = xgb.train(xgb_params,1250, d_train)

In [ ]:
# check f2-score (to get higher score - increase num_boost_round in previous cell)
from sklearn.metrics import r2_score

# now fixed, correct calculation
print(r2_score(d_train.get_label(), model.predict(d_train)))